---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import boardData from "@data/board.json";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About us</Fragment>
      <Fragment slot="desc">Meet the board members.</Fragment>
    </Sectionhead>

    {
      boardData.terms.map((term) => (
        <>
          <div class="flex flex-col gap-3  mt-16">
            <h2 class="font-medium text-2xl text-gray-800">
              {term.label}
            </h2>
            {term.description && (
              <p class="text-lg leading-relaxed text-slate-500">
                {term.description}
              </p>
            )}
          </div>
          <div class="grid md:grid-cols-3 gap-10  mt-12">
            {term.members.map((teamMemberEntry) => (
              <div class="group">
                <div class="mt-4 text-center">
                  <h2 class="text-lg text-gray-800">
                    {teamMemberEntry.name}
                  </h2>
                  <h3 class="text-sm text-slate-500">
                    {teamMemberEntry.role}
                  </h3>
                </div>
              </div>
            ))}
          </div>
        </>
      ))
    }

    <div class="flex flex-col gap-3  mt-16">
      <h2 class="font-medium text-2xl text-gray-800">
        Founding members
      </h2>
      <ul class="list-disc list-inside text-lg leading-relaxed">
        {boardData.foundingMembers.map((name) => (
          <li>{name}</li>
        ))}
      </ul>
    </div>
  </Container>
</Layout>
