---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import educationData from "@data/education.json";
---

<Layout title="Education">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Education</Fragment>
      <Fragment slot="desc">Educational resources for metaproteomics.</Fragment>
    </Sectionhead>



    <div class="grid md:grid-cols-1 gap-1  mt-16">
      <h2 class="font-medium text-2xl text-gray-800">The Microbiologist&apos;s Guide to Metaproteomics</h2>
      <p class="mb-2">
        The Metaproteomics Initiative has developed a comprehensive review to make metaproteomics more accessible to both microbiome and proteomics researchers.
        This guide presents key principles, state-of-the-art methodologies, and analytical workflows, covering experimental design, sample preparation, mass spectrometry techniques, data analysis strategies, and statistical approaches.
        To ensure clarity and broad accessibility, we invited experts to draft sections, followed by iterative internal reviews. Microbiome researchers new to metaproteomics provided additional feedback, helping refine the text for a wider audience.
      </p>
      <p class="mb-8">
        You can read the full review, published in iMeta, <a class="underline font-bold" href="https://onlinelibrary.wiley.com/doi/10.1002/imt2.70031">here</a>. Prefer a version yet with easy-to-navigate section numbers? Access the identical preprint <a class="underline font-bold" href="https://chemrxiv.org/engage/chemrxiv/article-details/677ce36781d2151a022d3935">here</a>.
      </p>

      <h2 class="font-medium text-2xl text-gray-800">Tutorials</h2>
      <ul class="list-disc list-inside mb-8 leading-relaxed">
        {educationData.tutorials.map((item) => (
          <li>
            <a href={item.url} class="font-medium hover:underline">{item.title}</a>
          </li>
        ))}
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Lectures</h2>
      <ul class="list-disc list-inside mb-8 leading-relaxed">
        {educationData.lectures.map((item) => (
          <li>
            <a href={item.url} class="font-medium hover:underline">&ldquo;{item.title}&rdquo;</a>
            {" "}by {item.speaker}
          </li>
        ))}
      </ul>

      <p class="mb-4">
        If you have additional metaproteomics tutorials or lectures you'd like
        to share, please contact
        <a
          href="mailto:info@metaproteomics.org"
          class="font-medium hover:underline">info@metaproteomics.org</a
        >. For tutorials and lectures on (single-species) proteomics, please
        visit the
        <a
          href="https://www.proteomics-academy.org//online-education"
          class="font-medium hover:underline">Proteomics Academy website</a
        >.
      </p>
    </div>
  </Container>
</Layout>
